* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.con{
 font-weight: bold;
 font-family: 'Courgette';
 font-size: 30px;
 text-align: center;
}
.pak{
display: none;
 font-family: 'Courgette';
font-weight: bold;
font-size:50px;
text-align: center;
border:10px solid rgb(29, 117, 233);
background-color: rgb(43, 247, 135);
position: absolute;
 top: 40%;
  left: 10%;
  right: 10%;

}



.foreign{
    display: none;
 font-family: 'Courgette';
font-weight: bold;
font-size:50px;
text-align: center;
border:10px solid black;
background-color: rgb(10, 106, 37);
position: absolute;
 top: 40%;
  left: 10%;
  right: 10%;
}

@media screen and (min-device-aspect-ratio: 16/9) {
 img{
   width:50px;
  }
}

input[type=number]
{
height:80px;
font-size: 30px;
font-weight: bold;
border-radius: 20px;
border:8px solid green;
margin-top: 40px;
text-indent: 20px;
text-align: center;
background-color: rgb(74, 208, 134);
}
